.Avatar {
    display: flex;
    flex-direction: row;
    align-items: center;

    .Avatar-full-name {
        margin: 0px 5px;
    }

    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
    }
}